@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --blur-5xl: 168px;
  --shadow-project: 0px 0px 25px 9px rgba(59, 130, 246, 0.3);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #18181B;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #4ADE80;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #11df5d;
}