@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #18181B;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #4ADE80;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #11df5d;
}